.page-header {
  background-color: pink;

  @media (min-width: $desktop-width) {
    background-color: orange;
  }
}

.page-header__wrapper {
  background-color: red;
  min-height: 200px;

  @include wrapper;
}