.button {
  font: inherit;
  background-color: $pink;
  border: 2px solid $pink;
  border-radius: 2px;
  display: block;
  padding: 10px 30px;
  margin: 0 auto;
  color: $white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
